table {
  float: left;
}

.equals {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

textarea.single-line {
  resize: horizontal;
  font-weight: normal;
  font-size: 12px;
  height: 20px;
  margin: 0;
  padding: 0;
}
